.btn-conatiner {
    display:flex;
 }
button {
padding: 10px 20px ;
margin:  10px auto ;
background-color: #007bff;
color: rgb(245, 243, 243);
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}
.color-container{
display:flex ;
flex-direction: column; 
justify-content:center ;
align-Items : center;
color:#fff;
font-Size: 40px;
font-Weight: 30px;
margin-Top:50px;
gap: 20px;
}